body{
    margin:0;
    padding: 0;
    background-image: url('/images/4.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.box2{
    margin-top: 90%;
    width:420px;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
   /* background: #191919;*/
   /*background: rgb(24, 24, 126);*/
   background: rgba(0,0,0,0.2);
   /*background:white;*/
    text-align: center;
    /*border: 3px solid white;*/
    border-radius: 24px;
   
    
  }
  .box2 input[type="text"],.box2 input[type="password"]{
    border:0;
    background: none;
    background-color: whitesmoke;
    display: block;
    margin:20px auto;
    text-align: center;
    border:2px solid rgb(5, 162, 209);
    padding: 14px 10px;
    width:300px;
    outline: none;
    color:black;
    border-radius: 24px;
    transition:0.25s ;
    margin-bottom: 30px;

  }

  .box2 input[type="text"]:focus,.box2 input[type="password"]:focus{
    width:330px;
    border-color: rgb(2, 42, 68);

  }
  .box2 input[type="submit"]{
    border:0;
     background: none;
     display: block;
     margin:20px auto;
     text-align: center;
     border:2px solid  rgb(37, 4, 4);
     padding: 14px 40px;
     
     outline: none;
     color:rgb(15, 14, 14);
     border-radius: 24px;
     transition:0.25s ;
     cursor: pointer;
     font-weight: bolder;
     font-size:x-large;
     font-weight: 500;
  }
  .box2  input[type="submit"]:hover{
    background:rgb(66, 66, 66);
    width: 280px;
  }
  h1{
    color:brown;
  }
  #msg{
    position: absolute;
    top:250px;
    left: 50px;
    bottom: 14px;
    width:50%;
    height:50%;
   /* padding:7px;*/
    color:red;
  }
  #msg2{
    position: absolute;
    top:335px;
    left: 50px;
    width:50%;
    height:50%;
    bottom: 14px;
   /* padding-top: 16px;*/
    /*padding-bottom:16px;*/
    color:red;
  }

  .inp1 i{
    position: absolute;
    top:210px;
    right:67px;
    visibility: hidden;
   
  }

  .inp2 i{
    position: absolute;
    top:300px;
    right:67px;
    visibility: hidden;
  }